.detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 5rem;
}

.content-right section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-left img {
    width: 100%;
    border-radius: 25px;
    object-fit: contain;
}

.content-right {
    color: #FFF5E4;
}

.content-right p {
    text-align: justify;
    color: #FFC4C4;
}

.content-right ul {
    text-transform: capitalize;
}

.content-right li {
    margin: 0.2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}