nav {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #FFC4C4;
    height: 3rem;
    overflow: hidden;
    z-index: 1;
    border-radius: 25px;


    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

nav a {
    color: #850E35;
}

nav ul {
    height: 100%;
    width: 80%;

    display: flex;
    gap: 0rem;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 100%;
    transition: 200ms ease;
}

nav ul li:hover  {
    background-color: #FFF5E4;
    cursor: pointer;
    border-radius: 35px;
}

