nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #FFC4C4;
    color: #850E35;
    height: 3rem;
    overflow: hidden;
    z-index: 1;
}

nav ul {
    height: 100%;
    width: 90%;
    margin: 0 auto;

    display: flex;
    gap: 0rem;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 100%;
    transition: 200ms ease;
}

nav ul li:hover  {
    background-color: #FFF5E4;
    cursor: pointer;
}