.searchbarContainer {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.searchbarContainer input {
    padding: 0.5rem 1rem;
    border: 1px solid #FFF5E4;
    border-radius: 25px;
    width: 25%;
}

.searchbarContainer input:focus {
    outline: none;
}